{% extends "base.html.twig" %}

{% block title %}
    Yetinder Login
{% endblock title %}

{% block body %}
    <div class="container w-25 mx-auto">
        <main class="form-signin w-100 m-auto">
            <form action="{{ path('loginSubmit')}}" method="POST">
                <div class="d-flex justify-content-center">
                    <img class="mb-4 w-75" src="{{ asset('/build/images/yeti.f7cdbb89.jpg') }}" alt="">
                </div>
                <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

                <div class="form-floating">
                    <input name="email" type="email" class="form-control" id="email" placeholder="name@example.com">
                    <label for="floatingInput">Email address</label>
                </div>
                <div class="form-floating">
                    <input name="password" type="password" class="form-control" id="password" placeholder="Password">
                    <label for="floatingPassword">Password</label>
                </div>

                {% for message in app.flashes('errors') %}
                    <p class="alert alert-danger">{{ message }}</p>
                {% endfor %}
                <br>
                <button class="btn btn-primary w-100 py-2" type="submit">Sign in</button>
            </form>
        </main>
    </div>
{% endblock body %}